<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza - New User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="labController">
    <div class="container">
        <h1>New User Registration</h1>
        <form class="form-horizontal" ng-controller="formController">
          <div class="fields" ng-repeat="field in fields">
            <div class="col-md-2">
              <label for="{{field}}">{{field}}</label>
            </div>
            <div class="col-md-5">
              <input type="{{registrationFieldType[field]}}" name="{{field}}" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <label for="favoritePizza">Favorite Pizza</label>
          </div>
          <div class="col-md-5">
            <select class="form-control" name="favoritePizza" ng-options="pizza for pizza in pizzaMenu" ng-model="favoritePizza">
            </select>
          </div>
          <center>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-5">
                  <input type="submit" value="Submit" class="btn btn-primary" />
                  <button class="btn btn-default">Reset</button>
              </div>
            </div>
          </center>
        </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/labController.js"></script>
    <script src="./app/formController.js" charset="utf-8"></script>
</body>

</html>
